*{
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url('tik_tak_toe.jpg'); */
    background-color: rgb(105, 206, 37);
    background-attachment: fixed;
    text-align: center;
}

 .container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
 }

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    /* border: none; */
    box-shadow: 0 0 1rem rgba(0 ,0 ,0 ,0.3);
    font-size: 8vmin;
    color: blueviolet;
    background-color: rgb(255, 255, 255);
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(248, 223, 0);
    color: rgb(122, 17, 17);
    border-radius: 1rem;
        /* border: none; */

}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(248, 223, 0);
    color: rgb(122, 17, 17);
    border-radius: 1rem;
}

#new-btn1 {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(3, 255, 150);
    color: rgb(122, 17, 17);
    border-radius: 1rem;
}

#ghj {
    margin-top: 40px;
}

#msg {
    font-size: 9vmin;
    color: rgb(0, 0, 0);
    background-color: darkorange;
    margin-left: 48dvh;
    margin-right: 48dvh;
    border-radius: 1rem;
    margin-bottom: 5dvh;

}

#image {

    background-image: url('win_O.gif');
    max-width: 100%;
    height: auto;
    margin-top: 2.5rem;
}

.msg-container {
    height: 100vmin;
}

.hide {
    display: none;
}

#score {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(3, 255, 150);
    color: rgb(122, 17, 17);
    border-radius: 1rem;
        /* border: none; */

}

.score-board {
    height: 100vmin;
}

#back {
    padding: 1rem;
    font-size: 2rem;
    width: 20rem;
    background-color: rgb(255, 166, 0);
    color: rgb(122, 17, 17);
    border-radius: 1rem;
    display: block;
    margin-top: 180px;
    margin-left: 520px;
    
}

#msg1 {
    font-size: 7vmin;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 128);
    margin-left: 50dvh;
    margin-right: 50dvh;
    border-radius: 1rem;
    margin-bottom: 5dvh;
}
p{
    display: inline;
}

#PlayerX {
    font-size:7vmin;
    color:blueviolet;
    background-color: rgb(230, 255, 3);
    margin-right: 10rem;
    border-radius: 1rem;
    border: none;
}
#PlayerO {
    font-size: 7vmin;
    color: red;
    background-color: yellow;
    border-radius: 1rem;
    border: none;
}
h2{
    display: inline;
}
#scoreX {
    
    font-size:15vmin;
    color:blueviolet;
    margin-right: 20rem;
    border-radius: 1rem;
}

#scoreO {
    font-size:15vmin;
    color:red;
    border-radius: 1rem; 
}

#sco {
    margin-top: 8rem;
}